{% extends 'base.html' %}

{% block title %} AboutUs {% endblock %}

{% load static %}

{% block content %}

<style>
    #priv_head h1{
        margin: 50px;
        font-size: 70px;
        text-decoration: underline;
    }

    #priv_body{
        margin: 50px;   
        border: 1px solid 	#DCDCDC;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 40px;
    }
</style>

<!-- Body -->

<div id = "priv_head" class = "container-fluid">
    <h1> About Us </h1>

    <div id = "priv_body">
        <p><span><b>Socialize</b> is the part of Cetpa Infotech which is the most loved and trusted store for all </span>computer components in Lucknow. Being a part of Cetpa Infotech,<span> <b>Socialize</b></span><span> </span>committed to becoming a leading online store for computer components by providing a great e-shopping experience with exceptional customer service and hassle-free delivery at the customer doorstep.Traditionally, the<span> </span><span>M</span><span>obile</span> is a symbol of place and junction point. We selected “<span><b>Socialize</b></span>” the e-store name because here you can find all computer components at a single place.</p>
        <p>We know you are looking for solutions to your computer problems. Here is<span> <b>Socialize</b></span><span> </span>for you- the ultimate solution to all your computer problems. We know you are craving for the best, so why lack behind? Get the best and favorites from the wide range of options that we offer.<span> Socialize</span><span> </span>has brought for you the best and quick solutions, any time at your disposal.</p>
        <p>Through our online shopping facility, we aim to provide good quality service and the best possible customer support. Any problems or complaints regarding our service are efficiently and immediately dealt with.</p>
        <p>Solutions to all your computer problems are here! We understand how worrisome it becomes when you lose contact with technology and so here we are with all the handy solutions you’d ever need.</p>
        <p>Whether it is a new computer or laptop you want, or you want to protect yours from any kind of insecurities and viruses, we provide you with the latest models and antiviruses. Also, if you are looking for distinguished parts for your PC or want to boost up your gaming experience, we can help you either way!</p>
        <p>Our latest gaming solutions are a must-have for you if you are addicted to gaming. And if not, we guarantee you an experience of a lifetime. From high-quality headphones to racing wheels, to the latest joysticks – you will find everything you need at. Meet all your demands at our one-stop destination.</p>
        <p>We know the spirit of the gamer in you is not to be overshadowed. All your dreams of a great gaming experience is what<span> <b>Socialize</b></span><span> </span>aims at meeting.</p>
        <p>We also deal with renewed items. You if do not want to cut short of your pocket and save some money, you can obviously go for the renewed items available at our official website.</p>
        <p>We know what bothers you when it comes to renewed items. So if you are worried about the quality and warranty of the products, please do not worry. At our website pcadda.com, we have computer professionals who check the proper working of the renewed products. An added benefit is the warranty. So if you are concerned or doubtful about the product you are going to buy, don’t worry because we have already got it checked and will make sure you get the best of service.</p>
        <p>It has been quite some time that we have reached to people across India and aims to broaden the sphere. At<span> <b>Socialize</b></span>, we try to provide our customers with the best deals for purchase and maximum possible discounts and with. Also, there are all kinds of payment methods available. So if you are falling short of cash at hand, that is not a matter of concern.</p>
        <p> </p>
        <div class="Polaris-Stack__Item_yiyol"><strong>Customer Support</strong></div>
        <div class="Polaris-Stack__Item_yiyol"><strong></strong></div>
        <div class="Polaris-Stack__Item_yiyol"><span>Call Us at :- +91-</span>7017779287</div>
    <div class="Polaris-Stack__Item_yiyol"><span>Mail Us at :- support@Socialize.com</span></div>
    </div>
</div>

<!-- Body -->

{% endblock %}