{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'mana.ico' %}"/>
    <title> Socialize | {% block title %} {% endblock %} </title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

      body{
        min-height: 100vh;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
      }

      h1, h2, h3, h4, h5, h6, p span {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
      }

      body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }

      body::-webkit-scrollbar-track {
        background: #000;        /* color of the tracking area */
      }

      body::-webkit-scrollbar-thumb {
        background-color: rgb(18, 233, 194);    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid orange;  /* creates padding around scroll thumb */
      }
      nav div ul li a{
        margin: 10px 30px 10px 0px;
      }

      nav div ul li a h3{
        color: #fff;
        font-size: 20px;
      }

      nav div ul li div a{
        font-size: 14px;
      }

      #set_footer{
        position: sticky;
        top: 100%;
      }

      #set_footer a:hover{
        text-decoration: none;
        font-weight: bold;
      }

      #imp_links li a h3{
        font-size: 17px;
      }

    </style>

  </head>
  <body>

    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-dark" style = "background-color: #00b2c8;">

      <a class="navbar-brand ml-5 mb-3" href="/"><img style = "height: 80px;" src = "{% static 'logo.png' %}"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id = "imp_links">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/"><h3> <i class="fas fa-home mr-1"></i> Home </h3></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'job_page' %}"><h3><i class="fas fa-briefcase mr-1"></i> Jobs </h3></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}"><h3><i class="fas fa-briefcase mr-1"></i> Dashboard </h3></a>
            </li>



          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/"><h3> <i class="fas fa-home mr-1"></i> Home </h3></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}"> <h3> <i class="fas fa-laptop-house mr-1"></i> AboutUs </h3> </a>
            </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <h3> Accounts <i class="far fa-caret-square-down"></i> </h3>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style = "background: rgb(125, 221, 228)">
              {% if user.is_authenticated %}
                <p class="dropdown-item" > <i class="fas fa-sign-in-alt "></i> Hello, {{user.username}}</p>
                <a class="dropdown-item" href="{% url 'logout' %}"> <i class="fas fa-sign-in-alt "></i> Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'contact' %}"> <i class="fas fa-headset "></i> Support</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}"> <i class="fas fa-sign-in-alt "></i> Login</a>
                <a class="dropdown-item" href="{% url 'register' %}"> <i class="fas fa-sign-in-alt "></i> Get Started</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'contact' %}"> <i class="fas fa-headset "></i> Support</a>
              {% endif %}
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!--NAVBAR-->
    
    {% block content %}  {% endblock %}

    <!--FOOTER-->
    <footer class="text-center text-lg-start bg-light text-muted" id = "set_footer">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img style = "height: 25px;" class = "mr-3" src = "{% static 'mana.ico' %}"> Socialize
              </h6>
              <p>
                Millions of people are searching for jobs, salary information, company reviews, and interview questions.
                See what others are looking for on Socialize today.
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Products
              </h6>
              <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="{% url 'dashboard' %}" class="text-reset">Dashboard</a>
              </p>
              <p>
                <a href="{% url 'job_page' %}" class="text-reset">Jobs</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Create Portfolio</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="{% url 'about' %}" class="text-reset">About Us</a>
              </p>
              <p>
                <a href="{% url 'contact' %}" class="text-reset">Contact Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Security & Policies</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Contact
              </h6>
              <p><i class="fas fa-home me-3"></i> New Delhi, 250103, IN</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                support@socialize.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">support@socialize.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>